networks:
  oracle_network:
    driver: bridge

services:
  blockchain:
    environment:
      - SLINKY_DEV_TESTING=true
      - ORACLE_GROUP=${ORACLE_GROUP:-core}
    build:
      context: ../..
      dockerfile: ./contrib/images/slinky.local.Dockerfile
    volumes:
      - ../../cmd/constants/market.json:/oracle/market.json
    ports:
      - "26656:26656"
      - "26657:26657"
      - "26660:26660" # chain side metrics
      - "1317:1317" # used to query the blockchain
      - "7171:7171"
      - "26655:26655"
      - "9090:9090"
    networks:
      - oracle_network

  oracle:
    environment:
      - SLINKY_DEV_TESTING=true
      - ORACLE_GROUP=${ORACLE_GROUP:-core}
    build:
      context: ../..
      dockerfile: ./contrib/images/slinky.sidecar.dev.Dockerfile
    volumes:
      - ../../cmd/constants/market.json:/oracle/market.json
    entrypoint: [
      "slinky",
      "--update-market-config-path", "/oracle/market.json",
      "--market-map-endpoint", "blockchain:9090",
      "--pprof-port", "6060",
      "--run-pprof",
    ]
    ports:
      - "8080:8080" # main oracle port
      - "6060:6060" # pprof port
      - "8002:8002" # metrics port
    networks:
      - oracle_network
  
  prometheus:
    image: prom/prometheus
    ports:
      - "9091:9090"
    volumes:
      - ../prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - oracle_network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ../../grafana/provisioning:/etc/grafana/provisioning
    networks:
      - oracle_network

volumes:
  grafana_data: