update_interval = "1s"
production = false

[[providers]]
  name = "binance"
  [providers.api]
    enabled = true
    timeout = "500ms"
    interval = "1s"
    max_queries = 1
    atomic = true
    url = "https://api.binance.us/api/v3/ticker/price?symbols=%s%s%s"
    name = "binance"
  [providers.web_socket]
    enabled = false
    max_buffer_size = 0
    reconnection_timeout = "0s"
    wss = ""
    name = ""
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "0s"
    enable_compression = false
    read_deadline = "0s"
    write_deadline = "0s"
  [providers.market_config]
    name = "binance"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOMUSDT"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTCUSDT"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETHBTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETHUSDT"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOLUSDT"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "coinbase"
  [providers.api]
    enabled = true
    timeout = "500ms"
    interval = "1s"
    max_queries = 5
    atomic = false
    url = "https://api.coinbase.com/v2/prices/%s/spot"
    name = "coinbase"
  [providers.web_socket]
    enabled = false
    max_buffer_size = 0
    reconnection_timeout = "0s"
    wss = ""
    name = ""
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "0s"
    enable_compression = false
    read_deadline = "0s"
    write_deadline = "0s"
  [providers.market_config]
    name = "coinbase"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOM-USD"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAX-USD"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTC-USD"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIA-USD"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDX-USD"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH-BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETH-USD"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMO-USD"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOL-USD"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "coingecko"
  [providers.api]
    enabled = true
    timeout = "500ms"
    interval = "15s"
    max_queries = 1
    atomic = true
    url = "https://api.coingecko.com/api/v3"
    name = "coingecko"
  [providers.web_socket]
    enabled = false
    max_buffer_size = 0
    reconnection_timeout = "0s"
    wss = ""
    name = ""
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "0s"
    enable_compression = false
    read_deadline = "0s"
    write_deadline = "0s"
  [providers.market_config]
    name = "coingecko"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "cosmos/usd"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "bitcoin/usd"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "celestia/usd"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "dydx-chain/usd"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ethereum/btc"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ethereum/usd"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "osmosis/usd"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "solana/usd"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "crypto_dot_com"
  [providers.api]
    enabled = false
    timeout = "0s"
    interval = "0s"
    max_queries = 0
    atomic = false
    url = ""
    name = ""
  [providers.web_socket]
    enabled = true
    max_buffer_size = 1024
    reconnection_timeout = "10s"
    wss = "wss://stream.crypto.com/exchange/v1/market"
    name = "crypto_dot_com"
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "45s"
    enable_compression = false
    read_deadline = "45s"
    write_deadline = "45s"
  [providers.market_config]
    name = "crypto_dot_com"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOMUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAXUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTCUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIAUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDXUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH_BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETHUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMO_USD"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOLUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "okx"
  [providers.api]
    enabled = false
    timeout = "0s"
    interval = "0s"
    max_queries = 0
    atomic = false
    url = ""
    name = ""
  [providers.web_socket]
    enabled = true
    max_buffer_size = 1000
    reconnection_timeout = "10s"
    wss = "wss://ws.okx.com:8443/ws/v5/public"
    name = "okx"
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "45s"
    enable_compression = false
    read_deadline = "45s"
    write_deadline = "45s"
  [providers.market_config]
    name = "okx"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOM-USD"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAX-USD"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTC-USD"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIA-USD"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDX-USD"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH-BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETH-USD"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOL-USD"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "kraken"
  [providers.api]
    enabled = false
    timeout = "0s"
    interval = "0s"
    max_queries = 0
    atomic = false
    url = ""
    name = ""
  [providers.web_socket]
    enabled = true
    max_buffer_size = 1000
    reconnection_timeout = "10s"
    wss = "wss://ws.kraken.com"
    name = "kraken"
    read_buffer_size = 0
    write_buffer_size = 0
    handshake_timeout = "45s"
    enable_compression = false
    read_deadline = "45s"
    write_deadline = "45s"
  [providers.market_config]
    name = "kraken"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOM/USD"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAX/USD"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "XBT/USD"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIA/USD"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDX/USD"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH/XBT"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETH/USD"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOL/USD"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[currency_pairs]]
  Base = "BITCOIN"
  Quote = "USD"

[[currency_pairs]]
  Base = "ETHEREUM"
  Quote = "USD"

[[currency_pairs]]
  Base = "ATOM"
  Quote = "USD"

[[currency_pairs]]
  Base = "SOLANA"
  Quote = "USD"

[[currency_pairs]]
  Base = "CELESTIA"
  Quote = "USD"

[[currency_pairs]]
  Base = "AVAX"
  Quote = "USD"

[[currency_pairs]]
  Base = "DYDX"
  Quote = "USD"

[[currency_pairs]]
  Base = "ETHEREUM"
  Quote = "BITCOIN"

[[currency_pairs]]
  Base = "OSMOSIS"
  Quote = "USD"

[metrics]
  prometheus_server_address = "localhost:8000"
  enabled = true
