update_interval = "1s"
production = false

[[providers]]
  name = "coinbase"
  [providers.api]
    enabled = true
    timeout = "500ms"
    interval = "1s"
    max_queries = 5
    atomic = false
  [providers.web_socket]
    enabled = false
    max_buffer_size = 0
    reconnection_timeout = "0s"
    wss = ""
  [providers.market_config]
    name = "coinbase"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOM-USD"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAX-USD"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTC-USD"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIA-USD"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDX-USD"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH-BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETH-USD"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMO-USD"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOL-USD"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "binanceus"
  [providers.api]
    enabled = true
    timeout = "500ms"
    interval = "1s"
    max_queries = 1
    atomic = true
  [providers.web_socket]
    enabled = false
    max_buffer_size = 0
    reconnection_timeout = "0s"
    wss = ""
  [providers.market_config]
    name = "binanceus"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOMUSDT"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAXUSDT"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTCUSDT"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIAUSDT"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDXUSDT"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETHBTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETHUSDT"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMOUSDT"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOLUSDT"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "crypto_dot_com"
  [providers.api]
    enabled = false
    timeout = "0s"
    interval = "0s"
    max_queries = 0
    atomic = false
  [providers.web_socket]
    enabled = true
    max_buffer_size = 1000
    reconnection_timeout = "5s"
    wss = "wss://stream.crypto.com/exchange/v1/market"
  [providers.market_config]
    name = "crypto_dot_com"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOMUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAXUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTCUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIAUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDXUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH_BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETHUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMOUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOLUSD-PERP"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[providers]]
  name = "okx"
  [providers.api]
    enabled = false
    timeout = "0s"
    interval = "0s"
    max_queries = 0
    atomic = false
  [providers.web_socket]
    enabled = true
    max_buffer_size = 1000
    reconnection_timeout = "10s"
    wss = "wss://ws.okx.com:8443/ws/v5/public"
  [providers.market_config]
    name = "okx"
    [providers.market_config.currency_pair_to_market_configs]
      [providers.market_config.currency_pair_to_market_configs."ATOM/USD"]
        ticker = "ATOM-USD"
        [providers.market_config.currency_pair_to_market_configs."ATOM/USD".currency_pair]
          Base = "ATOM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."AVAX/USD"]
        ticker = "AVAX-USD"
        [providers.market_config.currency_pair_to_market_configs."AVAX/USD".currency_pair]
          Base = "AVAX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD"]
        ticker = "BTC-USD"
        [providers.market_config.currency_pair_to_market_configs."BITCOIN/USD".currency_pair]
          Base = "BITCOIN"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD"]
        ticker = "TIA-USD"
        [providers.market_config.currency_pair_to_market_configs."CELESTIA/USD".currency_pair]
          Base = "CELESTIA"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."DYDX/USD"]
        ticker = "DYDX-USD"
        [providers.market_config.currency_pair_to_market_configs."DYDX/USD".currency_pair]
          Base = "DYDX"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN"]
        ticker = "ETH-BTC"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/BITCOIN".currency_pair]
          Base = "ETHEREUM"
          Quote = "BITCOIN"
      [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD"]
        ticker = "ETH-USD"
        [providers.market_config.currency_pair_to_market_configs."ETHEREUM/USD".currency_pair]
          Base = "ETHEREUM"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD"]
        ticker = "OSMO-USD"
        [providers.market_config.currency_pair_to_market_configs."OSMOSIS/USD".currency_pair]
          Base = "OSMOSIS"
          Quote = "USD"
      [providers.market_config.currency_pair_to_market_configs."SOLANA/USD"]
        ticker = "SOL-USD"
        [providers.market_config.currency_pair_to_market_configs."SOLANA/USD".currency_pair]
          Base = "SOLANA"
          Quote = "USD"

[[currency_pairs]]
  Base = "BITCOIN"
  Quote = "USD"

[[currency_pairs]]
  Base = "ETHEREUM"
  Quote = "USD"

[[currency_pairs]]
  Base = "ATOM"
  Quote = "USD"

[[currency_pairs]]
  Base = "SOLANA"
  Quote = "USD"

[[currency_pairs]]
  Base = "CELESTIA"
  Quote = "USD"

[[currency_pairs]]
  Base = "AVAX"
  Quote = "USD"

[[currency_pairs]]
  Base = "DYDX"
  Quote = "USD"

[[currency_pairs]]
  Base = "ETHEREUM"
  Quote = "BITCOIN"

[[currency_pairs]]
  Base = "OSMOSIS"
  Quote = "USD"

[metrics]
  prometheus_server_address = "localhost:8000"
  enabled = true
